/*
Color Pallet:
Tan/lighter Orange: #f0caa4 
Coral/pink: #ed8772
Off White: #eeecdd
Light Blue: #87bcc7
Dark Blue: #23596d
*/
.profile-container {
    display: flex;
    justify-content: space-between;
}

#profile-info {
    justify-content: space-around;
}

.info-display {
    height: fit-content !important;
    width: 100%;
    border: solid 1px grey;
    border-radius: 15px;
    background: rgb(235, 235, 235);
    padding: 1rem;
    margin: 1em;
}

.facilitator-nav {
    width: 30%;
    max-width: 200px;
    background-color: #f0caa4;
    min-height: 100vh;
}

.nav-list {
    padding-left: 1em;
}

.nav-item {
    padding-top: 0.5em;
    list-style: none;
}

.nav-link {
    color: #000;
    text-decoration: none;
}

.facilitator-profile {
    width: 100%;
    margin-left: 1em;
}

.discussion-header {
    padding: 1rem;
}

.discussion-board {
    margin: 1em;
    width: 100%;
}

.response-board {
    padding: 1rem;
}

#response-board {
    /* fix to sixe of container */
    max-height: 550px;
    overflow-y: auto;
}

/* hide scroll bar when unnecessary */
@media (max-width: 550px) {
    #response-board {
        /* Firefox */
        scrollbar-width: none;
        /* Internet Explorer and Edge */
        -ms-overflow-style: none;
    }

    #response-board::-webkit-scrollbar {
        /* Chrome, Safari and Opera */
        display: none;
    }
}


.discussion-container {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem;
}

.prompt-container {
    border: solid 1px grey;
    border-radius: 15px;
    background: rgb(235, 235, 235);
    padding: 1rem;
    min-height: 500px;
    margin: 1em;
}

.prompt-container>input {
    background: none;
    border: none;
    width: 100%;
    height: 500px;
    text-align: start;
    vertical-align: top;
    text-indent: 0;
}

#front-page-mission {
    margin: 0;
}

.prompt-display {
    height: fit-content !important;
    border: solid 1px grey;
    border-radius: 15px;
    background: rgb(235, 235, 235);
    padding: 1rem;
    margin: 1em;
}

#create-prompt {
    display: block;
}

.prompt-crud {
    border: solid 1px grey;
    border-radius: 15px;
    background: rgb(235, 235, 235);
    padding: 1rem;
    margin: 1em;
    display: flex;
    justify-content: space-between;
}

/* .prompt-content {
} */
.prompt-ud {
    display: flex;

}

.ud-button {
    width: 75%;
    padding: 5px;
    margin: 5px;
    background-color: transparent;
    border: none;
}

.view-response-btn {
    width: 75%;
    padding: 5px;
    margin: 1em;
    background-color: transparent;
    border: none;

    &:hover {
        color: #c29568;
    }
}

.start-discussion {
    display: flex;
    justify-content: space-between;
}

#discussion-bio {
    padding: 0;
    padding-left: 1em;
}

.response-item {
    border: solid 1px grey;
    border-radius: 15px;
    background: rgb(235, 235, 235);
    padding: 1rem;
    margin: 1em;
}

.prompt-btn {
    border: solid 1px grey;
    border-radius: 15px;
    background: #23596d;
    color: white;
    width: 15rem;
    margin: auto;
    height: 2rem;
    margin-top: 1em;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.prompt-btn-container {
    display: flex;
    justify-content: center;
    margin-right: 1em;
}

.textarea {
    /* need to fix width, overflow because of padding ? */
    width: 100%;
    height: 100%;
    border: solid 1px grey;
    background: rgb(235, 235, 235);
    border-radius: 15px;
    padding: 1em;
    font-family: 'Times New Roman', Times, serif;
}

/* HOME PAGE / DEFAULT VALUES */
body {
    background: #eeecdd;
    margin: 0;
}

h1 {
    font-family: Arial Black, verdana, sans-serif;
}

a {
    font-family: arial;
    font-weight: bold;
}

p,
div,
span {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.topnav {
    background-color: #23596d;
    overflow: hidden;
    max-height: 48px;
}

.nav-link {
    border: none;
    background-color: #23596d;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.nav-link:hover {
    background-color: #f0caa4;
    color: black;
}

#logo:hover {
    color: #f0caa4;
    background-color: #23596d;
}

.topnav>a:nth-child(2) {
    display: inline-block;
    text-align: right;
    margin-left: 80%;
}

.start-swap-btn {
    border: solid 1px grey;
    border-radius: 15px;
    background: #23596d;
    width: 15rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 2rem;
    color: white;
}

.start-swap-btn:hover {
    background-color: #f0caa4;
}

.start-swap-btn a {
    text-decoration: none;
    text-align: center;
    color: #f2f2f2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-swap-btn a:hover {
    color: black;
}
/* working on it */
  .popup {
    background-color: #eeecdd;
    border: solid 1px black;
    border-radius: 10px;
    position: fixed;
    margin: auto;
    height: 10rem;
    width: 20rem;
    z-index: 1;
    top: 30%;
    left: 40%;
    padding: 1rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
  .show {
    visibility: hidden;
  }
  .popup label, input, button{
    margin-bottom: 1rem;
  }
  .popup input{
    width: 200px;
    height: 50px;
  }
  .popup button {
    border: solid 1px grey;
    background: #23596d;
    color: white;
    border-radius: 6px;
  }
  .popup button:hover{
    background-color: #c29568;
    color: #000;
  }