{% extends "discussion/profile/facilitator_profile.html" %}

{% block profileContent %}
<div class="discussion-view">
    <h1 class="discussion-header">Discussion {{ discussion.name }}</h1>
    <h2 class="discussion-bio"> Access Code: {{ discussion.code }} </h2>
    <h2 class="discussion-bio"> Group: {{ discussion.group.name }} </h2>
    <div class="response-board">
        {% for prompt in discussion.prompt_set.all %}
        {% if prompt.thought_set.count != 0 %}
        <div class="response-item" style="display: block;">
            <h1 class="prompt-header">Prompt: {{ prompt.content }}</h1>
            {% for thought in prompt.thought_set.all %}
            <div>
                <h2 class="prompt-bio">User {{ thought.author }}: {{ thought.content }}</h2>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <a class="back-btn" href="{% url 'facilitator-discussions' pk=facilitator.pk %}"> Back</a>
</div>
{% endblock %}
