{% extends "index.html" %}
{% block header %}
{% endblock %}
{% block content %}
<!-- from https://dev.to/codeply/bootstrap-5-sidebar-examples-38pb -->
<div class="profile-container">
    <form class="popup show" id="swaps">
        <label for="swapCode">Code:</label>
        <input type="text" id="swapCode" name="swapCode" maxlength="6" inputmode="numeric">
        <button class="swap-code-submit">Discuss!</button>
    </form>
    <div class="facilitator-nav">
        <div>
            <div class="">
                <ul class="fac-nav-list">
                    <li class="fac-nav-item"><a class="fac-nav-link"
                            href="{% url 'facilitator-profile' pk=facilitator.pk %}"><img
                                src="/static/media/chevron-right-svgrepo-com.svg" alt="bullet point"><span
                                class="ms-1 d-none d-sm-inline">Profile</span></a></li>
                    <li class="fac-nav-item">
                        <a class="fac-nav-link" href="{% url 'facilitator-groups' pk=facilitator.pk %}"><img
                                src="/static/media/chevron-right-svgrepo-com.svg" alt="bullet point"><span
                                class="ms-1 d-none d-sm-inline">Groups</span>
                        </a>
                    </li>
                    <li class="fac-nav-item">
                        <a class="fac-nav-link" href="{% url 'facilitator-prompts' pk=facilitator.pk %}"><img
                                src="/static/media/chevron-right-svgrepo-com.svg" alt="bullet point"><span
                                class="ms-1 d-none d-sm-inline">Prompts</span>
                        </a>
                    </li>
                    <li class="fac-nav-item">
                        <a class="fac-nav-link" href="{% url 'facilitator-discussions' pk=facilitator.pk %}"
                            data-bs-toggle="collapse">
                            <img src="/static/media/chevron-right-svgrepo-com.svg" alt="bullet point"><span
                                class="ms-1 d-none d-sm-inline">Discussions</span>
                        </a>
                        <!-- <ul class="fac-nav-list" id="submenu1" data-bs-parent="#menu">
                            <li class="fac-nav-item">
                                <a class="fac-nav-link"href="#" class=""> <span class="">Item</span> 1
                                </a>
                            </li>
                            <li class="fac-nav-item">
                                <a href="#" class=""> <span class="">Item</span> 2
                                </a>
                            </li>
                        </ul> -->
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <ul class="fac-nav-list">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <li class="fac-nav-item"> <button type="submit"><img
                                src="/static/media/chevron-right-svgrepo-com.svg" alt="bullet point"><span
                                class="ms-1 d-none d-sm-inline">Sign out</span></button></li>
                        </form>
                        
                       
                        <!-- Alredy have these links above! -->

                        <!-- <ul class="nav-list">
                        <li class="nav-item"><a class="nav-link" href="{% url 'facilitator-profile' pk=facilitator.pk %}">Profile</a></li>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Sign out</a></li>
                        </form> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% block profileContent %}
    <div class="facilitator-profile">
        <h1 class="discussion-header">Welcome {{ facilitator }}</h1>
        <h2 class="discussion-header">This is the profile area to display info like past discussions and prompts
        </h2>
        <div class="profile-container" id="create-prompt">
            <div class="response-board">
                <h1 class="discussion-header">Groups</h1>
                <div class="group-board">
                    {% for group in facilitator.group_set.all %}
                    <div class="group-crud">
                        <a class="profile-list-header" href="{% url 'view-group' pk=facilitator.pk name=group %}"><span>{{ group.name }}</span></a>
                    </div>
                    {% endfor %}
                </div>
                <h1 class="discussion-header">Discussions</h1>
                {% for group in facilitator.group_set.all %}
                {% for discussion in group.discussion_set.all %}
                <div class="prompt-crud">
                    <div>
                        <a class="profile-list-header" href="{% url 'view-responses' pk=facilitator.pk name=group.name code=discussion.code %}"><span>{{ discussion }}</span></a>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
                <h1 class="discussion-header">Prompts</h1>
                {% for prompt in facilitator.prompt_set.all %}
                <div class="prompt-crud">
                    <div>
                        <a class="profile-list-header" href="{% url 'prompt-detail' pk=facilitator.pk id=prompt.id %}"><span>{{ prompt }}</span></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
</div>
{% endblock %}