{% extends "discussion/participant_view.html" %}

{% block leftside %}
<div class="discussion-board">
    <h1>Prompt:</h1>
    <div class="prompt-display">
        This will eventually read the prompt
    </div>
    <div class="response-tip">
        <h1>Respond to your new thought:</h1>
        <div class="tip-container">
            <img class="tool" src="/static/media/question-circle-svgrepo-com.svg" alt="tool tip">
            <span class="tooltext">This thought was written by a fellow classmate. Please repond with your take on their
                point of view.</span>
        </div>
    </div>
    <form method="GET">
        <textarea class="textarea" rows="5" cols="33" name="answer" placeholder="Enter Your Response"></textarea>
        <div class="prompt-btn-container">
            <button class="prompt-btn" type="submit">Submit Response</button>
        </div>
    </form>
</div>
{% endblock %}

{% block rightside %}
<div class="discussion-board">
    <h1>Responses</h1>
    <div id="response-board">
        <!-- {% for response in responses %}
        {{ response }}
    </div>
    {% endfor %} -->
    </div>
</div>
{% endblock %}