{% extends "index.html" %}

{% block header %}
<h1 class="discussion-header">Welcome to the facilitator discussion page</h1>
{% endblock %}

{% block prompt %}
<div class="discussion-board">
    <h1>Enter A Prompt</h1>
    <form method="GET">
        <div class="prompt-container">
            <!-- fix submit on enter -->
            <input type="text" name="prompt" placeholder="Enter A Prompt">
        </div>
        <div class="prompt-btn-container">
            <button class="prompt-btn" type="submit">Submit Prompt</button>
            <button class="prompt-btn">Distribute Answers</button>
        </div>
    </form>
</div>
{% endblock %}

{% block response %}
<div class="discussion-board">
    <h1>Responses</h1>
    <div id="response-board">
        <!-- {% for response in responses %}
        {{ response }}
    </div>
    {% endfor %} -->
        <div class="response-item">
            response 1: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies
        </div>
        <div class="response-item">
            response 2: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies
        </div>
        <div class="response-item">
            response 3: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies
        </div>
        <div class="response-item">
            response 4: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies
        </div>
        <div class="response-item">
            response 5: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies
        </div>
    </div>
</div>
{% endblock %}