{% extends "index.html" %}
{% load static %}
{% block header %}
<h1 class="discussion-header">Welcome to the facilitator discussion page</h1>
{% endblock %}

<body>
    {% block leftside %}
    <div class="discussion-board">
        <h2 class="discussion-bio"> Access Code: {{ discussion.code }} </h2>
        <h1>Enter A Prompt</h1>
        <textarea id="prompt-message-input" type="text" rows="5" cols="75" class="prompt-display"></textarea><br>
        <input id="prompt-message-submit" type="button" value="Submit Prompt" class="create-group-btn">
        <!-- <form class="discussion-create-prompt" action="{% url 'save-prompt' pk=facilitator.pk %}" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button class="create-group-btn" type="submit">Submit Prompt</button>
        </form> -->
        <h1>Choose An Existing Prompt</h1>
        <!-- <form method="GET" action="{% url 'facilitator-view' pk=facilitator.pk code=discussion.code %}">
            <textarea class="textarea" rows="5" cols="33" name="answer" placeholder="Enter Your Prompt"></textarea>
            <h1>Choose An Existing Prompt</h1>
            <div class="btn-group">
                <button class="btn btn-secondary btn-sm" type="button">
                    Small split button
                </button>
                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <div class="prompt-btn-container">
                <button class="prompt-btn" type="submit">Submit Prompt</button>
                <button class="prompt-btn" type="button">Distribute Thoughts</button>
            </div>
        </form> -->
    </div>
    {% endblock %}

    {% block rightside %}
    <div class="discussion-board" id="response-board">
        <h1>Thoughts</h1>
        {% if prompt.thought_set.count != 0 %}
        {% for thought in prompt.thought_set.all %}
        <div class="response-item">
            <div>
                {{ thought.content }}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <!-- <div class="discussion-board">
        <h1>Thoughts</h1>
        <div id="response-board"> -->
        <!-- {% for response in responses %}
            {{ response }}
            {% endfor %} -->
        <!-- <div class="thought-container">
                <div>
                    Thought: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc
                    ultricies
                </div>
                <div class="tip-container">
                    <button class="ud-button edit-group" type="button"><img src="/static//media/trash-svgrepo-com.svg"
                            alt="delete prompt button">
                    </button>
                </div>
            </div>
            <div class="thought-container">
                <div>
                    Thought: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc
                    ultricies
                </div>
                <div class="tip-container">
                    <button class="ud-button edit-group" type="button"><img src="/static//media/trash-svgrepo-com.svg"
                            alt="delete prompt button">
                    </button>
                </div>
            </div>
            <div class="thought-container">
                <div>
                    Thought: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc
                    ultricies
                </div>
                <div class="tip-container">
                    <button class="ud-button edit-group" type="button"><img src="/static//media/trash-svgrepo-com.svg"
                            alt="delete prompt button">
                    </button>
                </div>
            </div>
            <div class="thought-container">
                <div>
                    Thought: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc
                    ultricies
                </div>
                <div class="tip-container">
                    <button class="ud-button edit-group" type="button"><img src="/static//media/trash-svgrepo-com.svg"
                            alt="delete prompt button">
                    </button>
                </div>
            </div>
            <div class="thought-container">
                <div>
                    Thought: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc
                    ultricies
                </div>
                <div class="tip-container">
                    <button class="ud-button edit-group" type="button"><img src="/static//media/trash-svgrepo-com.svg"
                            alt="delete prompt button">
                    </button>
                </div>
            </div>
        </div> -->
    </div>
    <script src="{% static 'js/socket.js' %}"></script>
    <script>
        const code = JSON.parse('{{ discussion.code|escapejs }}');
        const fid = JSON.parse('{{ facilitator.pk|escapejs }}');
        var deleteGroupUrl = "{% url 'delete-thought' pk=facilitator.pk code=discussion.code %}";
        connectChat(code).then(() => {
            console.log("entered");

            document.querySelector('#prompt-message-input').focus();
            document.querySelector('#prompt-message-input').onkeyup = function (e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#prompt-message-submit').click();
                }
            };

            document.querySelector('#prompt-message-submit').onclick = function (e) {
                const promptInputDom = document.querySelector('#prompt-message-input');
                const prompt = promptInputDom.value;
                sendChatMessage("", prompt, fid, code);
                promptInputDom.value = '';
                // Save to DB
                // fetch("{% url 'create-prompt' pk=facilitator.pk %}", {
                //     method: 'POST',
                //     headers: {
                //         'Content-Type': 'application/json',
                //     },
                //     body: JSON.stringify({
                //         prompt: data.prompt,
                //     }),
                // })
                //     .then(response => response.json())
                //     .then(data => {
                //         console.log('Success:', data);
                //     })
                //     .catch((error) => {
                //         console.error('Error:', error);
                //     });
            };


            window.addEventListener('unload', function () {
                disconnectChat();
            });
        }).catch((error) => {
            console.error("Failed to connect: ", error);
        });
    </script>
    {% endblock %}
    <!-- <script>
        const discussion = JSON.parse('{{ discussion|escapejs }}');
        const pk = JSON.parse('{{ pk|escapejs }}');
        
        // URL to facilitator view = facilitator/<int:pk>/<int:code>
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/discussion/facilitator/'
            + pk
            + '/'
            + code
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#response-board').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script> -->
</body>