{% extends "index.html" %}

{% block header %}
<h1 class="discussion-header">Participant Discussion</h1>
{% endblock %}

{% block leftside %}
<div class="discussion-board">
    <h1>Prompt:</h1>
    <div class="prompt-display">
        This will eventually read the prompt
    </div>
    <h1>Answer:</h1>
    <form method="GET">
        <textarea class="textarea" rows="5" cols="33" name="answer" placeholder="Enter Your Answer"></textarea>
        <div class="prompt-btn-container">
            <button class="prompt-btn" type="submit">Submit Answer</button>
        </div>
    </form>
</div>
{% endblock %}

{% block rightside %}
<div class="discussion-board">
    <h1>Responses</h1>
    <div id="response-board">
        <!-- {% for response in responses %}
        {{ response }}
    </div>
    {% endfor %} -->
        <div class="response-item">
            response 1: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies
        </div>
        <div class="response-item">
            response 2: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies
        </div>
        <div class="response-item">
            response 3: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies
        </div>
        <div class="response-item">
            response 4: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies
        </div>
        <div class="response-item">
            response 5: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies
        </div>
        <div class="response-item">
            response 5: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies
        </div>
        <div class="response-item">
            response 5: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies
        </div>
        <div class="response-item">
            response 5: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies
        </div>
        <div class="response-item">
            response 5: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies
        </div>
        <div class="response-item">
            response 5: lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies
        </div>
    </div>
</div>
{% endblock %}