<!DOCTYPE html>
<head>
    <title>ThoughtSwap: Home</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
    <div class="topnav">
        <a href="homepage.html">ThoughtSwap</a>
        <!--login.html is blank right now-->
        <a href="login.html">Log In</a>
        <!--eventually link the page for inserting a code-->
        <a href="">Quick Swap</a>
    </div>
    <div>
        <form>
            <input type="email">
            <input type="password">
            <submit></submit>
        </form>
    </div>

</body>