<!DOCTYPE html>
<html lang="en">


<head>
    {% block title %}
    <title>ThoughtSwap</title>
    {% endblock %}
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a id="logo" href="homepage.html">ThoughtSwap</a>
        <!--login.html is blank right now-->
        <a href="login.html">Log In</a>
        <!--eventually link the page for inserting a code-->
        <a href="">Quick Swap</a>
    </div>
    {% block header %}
        <h1 class="discussion-header"> Welcome to the Base Page</h1>
    {% endblock %}
    {% block content %}

    {% endblock %}
</body>

</html>