<!DOCTYPE html>
<html lang="en">


<head>
    {% block title %}
    <title>ThoughtSwap</title>
    {% endblock %}
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="script" href="../static/js/script.js">

</head>


<body>
    <div class="topnav">
        <a class="nav-link" href="index.html">ThoughtSwap</a>
        <!--login.html is blank right now-->
        <a class="nav-link" href="login.html">Log In</a>
        <!--eventually link the page for inserting a code-->
        <button class="nav-link" onclick="quickSwap()">Quick Swap</button>
        <span class="popuptext" id="myPopup">Popup text...</span>
    </div>
    {% block header %}
    <h1 class="discussion-header"> Welcome to index.html</h1>
    {% endblock %}
    {% block content %}
    

    <div class="discussion-container">
        {% block leftside %}
        <div class="discussion-board">
            <div class="prompt-container" id="front-page-mission">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies
            </div>
        </div>
        {% endblock %}
        <!--Eventually we can pick some kind of picture to put here just for aethetic value-->
        {% block rightside %}
        <div class="response-board">
            <img src="https://loremflickr.com/360/680" alt="Place Holder Image For Now.">
        </div>
        {% endblock %}
    </div>

    <!-- Only show swap button on home page -->
    {% url 'index' as target %}
    {% if request.path == target %}
    <div class="start-swap-btn">
        <!--eventually link the page for inserting a code/starting a thought swap activity-->
        <a href="{% url 'participant-view' %}">Start Swap</a>
    </div>
    {% endif %}
    {% endblock %}
</body>

</html>