{% extends "index.html" %}
{% load static %}

{% block content %}
<style>
  body {
    font-family: 'Arial', sans-serif;
    background-color: #eeecdd;
  }
  .signup-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .signup-container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  .signup-container label {
    display: block;
    color: #333;
    font-size: 16px;
    margin-top: 10px;
  }
  .signup-container input, .signup-container select, .signup-container textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .signup-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .signup-container button:hover {
    background-color: #0056b3;
  }
</style>

<div class="signup-container">
  <h2>Sign Up</h2>
  <form action="{% url 'register-facilitator' %}" method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    {{ user_form.as_p }}
    {{ facilitator_form.as_p }}
    <button type="submit">Sign Up</button>
  </form>
</div>
{% endblock %}
