{% extends "discussion/profile/facilitator_profile.html" %}

{% block profileContent %}
<div class="facilitator-profile">
    <h1 class="discussion-header">Welcome {{ user }}</h1>
    <div class="profile-container" id="create-prompt">
        <h2 class="discussion-header">Create a class or group</h2>
        <div class="response-board">
            <input type="text" class="input" placeholder="Enter a group name">
            <input type="number" class="input" placeholder="Enter the size of the group">
            <!-- <h1>Add participants</h1> -->
        </div>
        <button class="create-group-btn" type="button">Create Group</button>
        <div class="tip-container">
            <img class="tool" src="/static/media/question-circle-svgrepo-com.svg" alt="tool tip">
            <span class="tooltext">Creating a group will generate random usernames for each of your participants, which
                you will then distribute to give them access to this group.</span>
        </div>
        <h2 class="discussion-header">Existing groups</h2>
        <div class="group-board">
            <div class="group-crud">
                <h1 class="group-header">CS 149</h1>
                <p>Size: </p>
                <div class="group-ud">
                    <div class="tip-container">
                        <button class="ud-button start-disc" type="button"><img
                                src="/static//media/swap-fill-svgrepo-com.svg" alt="start swap button">

                            <span class="ud-tool">Start New Discussion</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button edit-group" type="button"><img
                                src="/static//media/edit-svgrepo-com.svg" alt="edit prompt button">
                            <span class="ud-tool">Edit Participants</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button delete-group" type="button"><img
                                src="/static/media/trash-svgrepo-com.svg" alt="delete prompt button">
                            <span class="ud-tool">Delete Group</span></button>
                    </div>
                </div>
            </div>
            <div class="group-crud">
                <h1 class="group-header">CS 159</h1>
                <p class="group-content">Size: </p>
                <div class="group-ud">
                    <div class="tip-container">
                        <button class="ud-button start-disc" type="button"><img
                                src="/static//media/swap-fill-svgrepo-com.svg" alt="start swap button">

                            <span class="ud-tool">Start New Discussion</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button edit-group" type="button"><img
                                src="/static//media/edit-svgrepo-com.svg" alt="edit prompt button">
                            <span class="ud-tool">Edit Participants</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button delete-group" type="button"><img
                                src="/static/media/trash-svgrepo-com.svg" alt="delete prompt button">
                            <span class="ud-tool">Delete Group</span></button>
                    </div>
                </div>
            </div>
            <div class="group-crud">
                <h1 class="group-header">CS 240</h1>

                <p class="group-content">Size: </p>
                <div class="group-ud">
                    <div class="tip-container">
                        <button class="ud-button start-disc" type="button"><img
                                src="/static//media/swap-fill-svgrepo-com.svg" alt="start swap button">

                            <span class="ud-tool">Start New Discussion</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button edit-group" type="button"><img
                                src="/static//media/edit-svgrepo-com.svg" alt="edit prompt button">
                            <span class="ud-tool">Edit Participants</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button delete-group" type="button"><img
                                src="/static/media/trash-svgrepo-com.svg" alt="delete prompt button">
                            <span class="ud-tool">Delete Group</span></button>
                    </div>
                </div>
            </div>
            <div class="group-crud">
                <h1 class="group-header">CS 261</h1>
                <p class="group-content">Size: </p>
                <div class="group-ud">
                    <div class="tip-container">
                        <button class="ud-button start-disc" type="button"><img
                                src="/static//media/swap-fill-svgrepo-com.svg" alt="start swap button">

                            <span class="ud-tool">Start New Discussion</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button edit-group" type="button"><img
                                src="/static//media/edit-svgrepo-com.svg" alt="edit prompt button">
                            <span class="ud-tool">Edit Participants</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button delete-group" type="button"><img
                                src="/static/media/trash-svgrepo-com.svg" alt="delete prompt button">
                            <span class="ud-tool">Delete Group</span></button>
                    </div>
                </div>
            </div>
            <div class="group-crud">
                <h1 class="group-header">CS 361</h1>
                <p class="group-content">Size: </p>
                <div class="group-ud">
                    <div class="tip-container">
                        <button class="ud-button start-disc" type="button"><img
                                src="/static//media/swap-fill-svgrepo-com.svg" alt="start swap button">

                            <span class="ud-tool">Start New Discussion</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button edit-group" type="button"><img
                                src="/static//media/edit-svgrepo-com.svg" alt="edit prompt button">
                            <span class="ud-tool">Edit Participants</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button delete-group" type="button"><img
                                src="/static/media/trash-svgrepo-com.svg" alt="delete prompt button">
                            <span class="ud-tool">Delete Group</span></button>
                    </div>
                </div>
            </div>
            <div class="group-crud">
                <h1 class="group-header">CS 343</h1>

                <p class="group-content">Size: </p>
                <div class="group-ud">
                    <div class="tip-container">
                        <button class="ud-button start-disc" type="button"><img
                                src="/static//media/swap-fill-svgrepo-com.svg" alt="start swap button">

                            <span class="ud-tool">Start New Discussion</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button edit-group" type="button"><img
                                src="/static//media/edit-svgrepo-com.svg" alt="edit prompt button">
                            <span class="ud-tool">Edit Participants</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button delete-group" type="button"><img
                                src="/static/media/trash-svgrepo-com.svg" alt="delete prompt button">
                            <span class="ud-tool">Delete Group</span></button>
                    </div>
                </div>
            </div>
            <div class="group-crud">
                <h1 class="group-header">CS 347</h1>

                <p class="group-content">Size: </p>
                <div class="group-ud">
                    <div class="tip-container">
                        <button class="ud-button start-disc" type="button"><img
                                src="/static//media/swap-fill-svgrepo-com.svg" alt="start swap button">

                            <span class="ud-tool">Start New Discussion</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button edit-group" type="button"><img
                                src="/static//media/edit-svgrepo-com.svg" alt="edit prompt button">
                            <span class="ud-tool">Edit Participants</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button delete-group" type="button"><img
                                src="/static/media/trash-svgrepo-com.svg" alt="delete prompt button">
                            <span class="ud-tool">Delete Group</span></button>
                    </div>
                </div>
            </div>
            <div class="group-crud">
                <h1 class="group-header">CS 444</h1>

                <p class="group-content">Size: </p>
                <div class="group-ud">
                    <div class="tip-container">
                        <button class="ud-button start-disc" type="button"><img
                                src="/static//media/swap-fill-svgrepo-com.svg" alt="start swap button">
                            <span class="ud-tool">Start New Discussion</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button edit-group" type="button"><img
                                src="/static//media/edit-svgrepo-com.svg" alt="edit prompt button">
                            <span class="ud-tool">Edit Participants</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button delete-group" type="button"><img
                                src="/static/media/trash-svgrepo-com.svg" alt="delete prompt button">
                            <span class="ud-tool">Delete Group</span></button>
                    </div>
                </div>
            </div>
            <div class="group-crud">
                <h1 class="group-header">CS 445</h1>
                <p class="group-content">Size: </p>
                <div class="group-ud">
                    <div class="tip-container">
                        <button class="ud-button start-disc" type="button"><img
                                src="/static//media/swap-fill-svgrepo-com.svg" alt="start swap button">
                            <span class="ud-tool">Start New Discussion</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button edit-group" type="button"><img
                                src="/static//media/edit-svgrepo-com.svg" alt="edit prompt button">
                            <span class="ud-tool">Edit Participants</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button delete-group" type="button"><img
                                src="/static/media/trash-svgrepo-com.svg" alt="delete prompt button">
                            <span class="ud-tool">Delete Group</span></button>
                    </div>
                </div>
            </div>

        </div>
        <div class="response-board">
            {% for group in groups %}
            <h1 class="group-header">{group}</h1>
                <p class="group-content">Size: {group.size}</p>
                <div class="group-ud">
                    <div class="tip-container">
                        <button class="ud-button start-disc" type="button"><img
                                src="/static//media/swap-fill-svgrepo-com.svg" alt="start swap button">
                            <span class="ud-tool">Start New Discussion</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button edit-group" type="button"><img
                                src="/static//media/edit-svgrepo-com.svg" alt="edit prompt button">
                            <span class="ud-tool">Edit Participants</span></button>
                    </div>
                    <div class="tip-container">
                        <button class="ud-button delete-group" type="button"><img
                                src="/static/media/trash-svgrepo-com.svg" alt="delete prompt button">
                            <span class="ud-tool">Delete Group</span></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}