{% extends "discussion/profile/facilitator_profile.html" %}

{% block profileContent %}
<div class="facilitator-profile" id="group_background">
    <form class="popup show" id="swaps">
        <label for="swapCode">Code:</label>
        <input type="text" id="swapCode" name="swapCode" maxlength="6" inputmode="numeric">
        <button class="swap-code-submit">Discuss!</button>
    </form>
    <h1 class="discussion-header">Welcome {{ user }}</h1>
    <div class="profile-container" id="create-prompt">
        <h2 class="discussion-header">Create a class or group</h2>
        <div>
            <form action="{% url 'create-group' pk=facilitator.pk %}" method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <button class="create-group-btn" type="submit">Create Group</button>
            </form>
            <!-- token needed for security to allow users to submit to django app -->
            <!-- form will redirect to same page -->
            <!-- <form method="post" class="response-board" >
                {% csrf_token %}
                <input type="text" class="input" name="group_name" placeholder="Enter a group name" required>
                <input type="number" class="input" name="group_size" placeholder="Enter the size of the group" required>
                <div>
                    <button class="create-group-btn" type="submit" formaction="{% url 'facilitator-groups' pk=facilitator.pk %}">Create
                        Group</button>
                    <div class="tip-container">
                        <img class="tool" src="/static/media/question-circle-svgrepo-com.svg" alt="tool tip">
                        <span class="tooltext">Creating a group will generate random usernames for each of your
                            participants, which
                            you will then distribute to give them access to this group.</span>
                    </div>
                </div>
            </form> -->
            <!-- <h1>Add participants</h1> -->
        </div>
        <h2 class="discussion-header">Existing groups</h2>
        <div class="group-board">
            {% for group in facilitator.group_set.all %}
            <div class="group-crud">
                <h1 class="group-header">{{ group.name }}</h1>
                <p class="group-content">Size: {{ group.size }}</p>
                <div class="group-ud">
                    <div class="tip-container">
                        <a class="ud-link start-disc" href="{% url 'view-group' pk=facilitator.pk name=group.name %}"
                            alt="View Group"><img src="/static//media/swap-fill-svgrepo-com.svg"
                                alt="start swap button">
                            <span class="ud-tool">Start New Discussion</span></a>
                    </div>
                    <div class="tip-container">
                        <a class="ud-link view-group" href="{% url 'view-group' pk=facilitator.pk name=group.name %}"
                            alt="View Group"><img src="/static//media/view-alt-svgrepo-com.svg" alt="View Group button">
                            <span class="ud-tool">View Group</span></a>
                    </div>
                    <div class="tip-container">
                        <a class="ud-link edit-group" href="{% url 'change-group' pk=facilitator.pk name=group.name %}"
                            alt="View Group"><img src="/static//media/edit-svgrepo-com.svg" alt="edit prompt button">
                            <span class="ud-tool">Edit Group</span></a>
                    </div>
                    <div class="tip-container">
                        <button class="ud-link delete-group" onclick="Popup()"><img
                                src="/static/media/trash-svgrepo-com.svg" alt="delete prompt button">
                            <span class="ud-tool">Delete Group</span></button>
                    </div>
                </div>
                <div id="pop" class="sure-delete-btn show">
                    Are you sure you want to delete {{ group.name }}?
                    <button class="delete-confirm-btns">Yes</button>
                    <button class="delete-confirm-btns" onclick="Popup()">No</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}