{% extends "discussion/profile/facilitator_profile.html" %}

{% block header %}
{% endblock %}

{% block profileContent %}
<div class="facilitator-profile">
    <h1 class="discussion-header">Welcome {{ user }}</h1>
    <h2 class="discussion-header">Create discussion prompts for future use.</h2>
    <div class="profile-container" id="create-prompt">
        <h2 class="discussion-header">Create Prompts</h2>
        <div class="response-board">
            <textarea class="textarea" placeholder="Enter a prompt"></textarea>
        </div>
        <h2 class="discussion-header">Saved Prompts</h2>
        <div class="response-board">
            <div class="prompt-crud">
                <p class="prompt-content">Prompt 1 Which is super super super super super super super super super super
                    super super super super super super super super super super super super super super super super
                    super super super super super super super super super super super super long</p>
                <div class="prompt-ud">
                    <button class="ud-button" type="button"><img src="/static//media/edit-svgrepo-com.svg"
                            alt="edit prompt button"></button>
                    <button class="ud-button" type="button"><img src="/static/media/trash-svgrepo-com.svg"
                            alt="delete prompt button"></button>
                </div>
            </div>
            <div class="prompt-crud">
                <p class="prompt-content">Prompt 2</p>
                <div class="prompt-ud">
                    <button class="ud-button" type="button"><img src="/static//media/edit-svgrepo-com.svg"
                            alt="edit prompt button"></button>
                    <button class="ud-button" type="button"><img src="/static/media/trash-svgrepo-com.svg"
                            alt="delete prompt button"></button>
                </div>
            </div>
            <div class="prompt-crud">
                <p class="prompt-content">Prompt 3</p>
                <div class="prompt-ud">
                    <button class="ud-button" type="button"><img src="/static//media/edit-svgrepo-com.svg"
                            alt="edit prompt button"></button>
                    <button class="ud-button" type="button"><img src="/static/media/trash-svgrepo-com.svg"
                            alt="delete prompt button"></button>
                </div>
            </div>
            <div class="prompt-crud">
                <p class="prompt-content">Prompt 4</p>
                <div class="prompt-ud">
                    <button class="ud-button" type="button"><img src="/static//media/edit-svgrepo-com.svg"
                            alt="edit prompt button"></button>
                    <button class="ud-button" type="button"><img src="/static/media/trash-svgrepo-com.svg"
                            alt="delete prompt button"></button>
                </div>
            </div>
            <div class="prompt-crud">
                <p class="prompt-content">Prompt 5</p>
                <div class="prompt-ud">
                    <button class="ud-button" type="button"><img src="/static//media/edit-svgrepo-com.svg"
                            alt="edit prompt button"></button>
                    <button class="ud-button" type="button"><img src="/static/media/trash-svgrepo-com.svg"
                            alt="delete prompt button"></button>
                </div>
            </div>
        </div>
        <div class="response-board">
            {% for prompt in prompts %}
            <div class="prompt-crud">
                <a class="prompt-content" href="#"><span>{{ prompt }}</span></a>
                <div class="prompt-ud">
                    <button class="ud-button" type="button"><img src="/static//media/edit-svgrepo-com.svg"
                            alt="edit prompt button"></button>
                    <button class="ud-button" type="button"><img src="/static/media/trash-svgrepo-com.svg"
                            alt="delete prompt button"></button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}