{% extends "discussion/profile/facilitator_profile.html" %}


{% block header %}
{% endblock %}

{% block profileContent %}
<div class="facilitator-profile">
    <h1 class="discussion-header">Prompt Detail</h1>
    <h2 class="discussion-bio"> Content: {{ prompt.content }} </h2>
    <h2 class="discussion-bio"> Author: {{ prompt.author }} </h2>
    <div class="response-board">
        {% if prompt.thought_set.count != 0 %}
        <div class="response-item">
            {% for thought in prompt.thought_set.all %}
            <div>
                <h2 class="prompt-bio">User {{ thought.author }}: {{ thought.content }}</h2>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}