<!DOCTYPE html>
<head>
    <title>ThoughtSwap: Home</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
    <div class="topnav">
        <a href="homepage.html">ThoughtSwap</a>
        <!--login.html is blank right now-->
        <a href="login.html">Log In</a>
        <!--eventually link the page for inserting a code-->
        <a href="">Quick Swap</a>
    </div> 
    <div style="display:flex; justify-content: space-around; margin-top: 2rem;">
        <div id="front-page-mission" style="border: solid 1px grey; border-radius: 15px; background: rgb(235, 235, 235); width: 50%; padding: 1rem;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <!--Eventually we can pick some kind of picture to put here just for aethetic value-->
    <img src="https://loremflickr.com/360/680" alt="Place Holder Image For Now.">
</div>
    
    <div class="start-swap-btn" style="width: 15rem; margin: auto; margin-top: 2rem; height: 2rem; padding-top: .75rem;">
        <!--eventually link the page for inserting a code/starting a thought swap activity-->
        <a href="" style="text-decoration: none; display: inline-block; width: 100%; height: 100%; text-align: center; ">Start Swap</a>
    </div>

  </body>